body{
    font-family: italic;
    background-image: url(img/MacBook\ Pro\ 16_\ -\ 2\ \(1\).png);
    background-size:cover;
}

h1{
    margin-top: 400px;
  text-align: center;
  margin-right: 50px;
  font-size: 70px;
}
p{
    text-align: center;
}
.btn-color{
    color: white;
  background-color: #544660;
  font-size: 30px;
  border: #544660;
  width: 1250px;

}

.registration{
    margin-top: 900px;
  margin-left: 5px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}